
#header {background-color:blue; }


#containerHeader {background-color:lightblue;
  margin-left: auto;
  margin-right: auto;}

#containerBody {background-color:lightblue;
  margin-left: auto;
  margin-right: auto;}

#contentBorder1{background-color:grey; padding: 10px;}
.centerImage{display: block; margin-left:auto;margin-right:auto;}

#main1{background-color:white;}

#aboutMe {background-color:lightblue;
  margin-left: auto;
  margin-right: auto;}

  #contact {background-color:white;
    margin-left: auto;
    margin-right: auto;}

#footer{clear:both; background-color: #999999;}
